VITE_L1_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_L2_RPC_URL=https://veltrix-rpc.404piyush.me
VITE_L2_EXPLORER_URL=https://veltrix-explorer.404piyush.me/tx/
VITE_L2_EXPLORER_ROOT=https://veltrix-explorer.404piyush.me
VITE_L2_NATIVE_NAME=Veltrix
VITE_L2_NATIVE_SYMBOL=VEL
VITE_L2_NATIVE_DECIMALS=18
VITE_OPTIMISM_PORTAL=0x9d6954E55297f9ae78e5c0dc2353c18b31aeA0b3
VITE_L2_MESSAGE_PASSER=0x4200000000000000000000000000000000000016
